<section class="clients-section">
        <div class="clients-content">
                <p class="clients-label">Trusted by India's leading organisations</p>
                <div class="clients-scroll-wrapper">
                        <button class="clients-nav left" onclick="scrollClients(-300)"
                                aria-label="Scroll left">&#x276e;</button>
                        <div class="clients-scroll" id="clientsScroll">
                                <!-- BANKING -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/banking/rbi.svg"
                                                alt="RBI" loading="lazy"><span class="logo-name">RBI</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/banking/rbl.svg"
                                                alt="RBL" loading="lazy"><span class="logo-name">RBL Bank</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/banking/sbi.svg"
                                                alt="SBI" loading="lazy"><span class="logo-name">SBI</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/banking/svc.svg"
                                                alt="SVC" loading="lazy"><span class="logo-name">SVC Bank</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/banking/Union_bank.svg"
                                                alt="Union Bank" loading="lazy"><span class="logo-name">Union
                                                Bank</span></div>

                                <!-- CORPORATE -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/Corporate/BajajE.svg"
                                                alt="Bajaj" loading="lazy"><span class="logo-name">Bajaj</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Corporate/bisleri.svg"
                                                alt="Bisleri" loading="lazy"><span class="logo-name">Bisleri</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Corporate/hindalco.svg"
                                                alt="Hindalco" loading="lazy"><span class="logo-name">Hindalco</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/Corporate/Mahindra & Mahindra Logo SVG.svg" alt="Mahindra"
                                                loading="lazy"><span class="logo-name">Mahindra</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Corporate/shapoorji.svg"
                                                alt="Shapoorji" loading="lazy"><span class="logo-name">Shapoorji
                                                Pallonji</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/Corporate/tata_motors.svg" alt="Tata Motors"
                                                loading="lazy"><span class="logo-name">Tata Motors</span></div>

                                <!-- EDUCATION -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/education/atmiya.svg"
                                                alt="Atmiya" loading="lazy"><span class="logo-name">Atmiya
                                                Institue</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/education/chetana.svg"
                                                alt="Chetana" loading="lazy"><span class="logo-name">Chetana
                                                College</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/education/IITB.svg"
                                                alt="IITB" loading="lazy"><span class="logo-name">IIT Bombay</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/education/Somaiya_Vidyavihar_id34BHBsHW_1.svg"
                                                alt="Somaiya Vidyavihar" loading="lazy"><span class="logo-name">Somaiya
                                                Vidyavihar College</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/education/TPS.svg"
                                                alt="TPS" loading="lazy"><span class="logo-name">TPS</span></div>

                                <!-- FMCG -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/FMCG/Anchor.svg"
                                                alt="Anchor" loading="lazy"><span class="logo-name">Anchor</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/FMCG/Cocacola.svg"
                                                alt="Coca-Cola" loading="lazy"><span class="logo-name">Coca-Cola</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/FMCG/HUL.svg" alt="HUL"
                                                loading="lazy"><span class="logo-name">HUL</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/FMCG/Kellogg's-Logo.svg"
                                                alt="Kellogg's" loading="lazy"><span class="logo-name">Kellogg's</span>
                                </div>

                                <!-- GOVERNMENT -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/government/BHEL.svg"
                                                alt="BHEL" loading="lazy"><span class="logo-name">BHEL</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/government/HAL.svg"
                                                alt="HAL" loading="lazy"><span class="logo-name">HAL</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/government/Indian_Navy_crest.svg" alt="Indian Navy"
                                                loading="lazy"><span class="logo-name">Indian Navy</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/government/mazgoan.svg"
                                                alt="Mazagon Dock" loading="lazy"><span class="logo-name">Mazgoan
                                                Dock</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/government/WR.svg"
                                                alt="Western Railway" loading="lazy"><span class="logo-name">Western
                                                Railway</span></div>

                                <!-- HOSPITAL -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/hospital/hinduja.svg"
                                                alt="Hinduja Hospital" loading="lazy"><span class="logo-name">Hinduja
                                                Hospital</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/hospital/KEM.svg"
                                                alt="KEM Hospital" loading="lazy"><span class="logo-name">KEM
                                                Hospital</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/hospital/nanavati.svg"
                                                alt="Nanavati Hospital" loading="lazy"><span class="logo-name">Nanavati
                                                Hospital</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/hospital/saifee.svg"
                                                alt="Saifee Hospital" loading="lazy"><span class="logo-name">Saifee
                                                Hospital</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/hospital/somaiya_hospital.svg" alt="Somaiya Hospital"
                                                loading="lazy"><span class="logo-name">Somaiya Hospital</span></div>

                                <!-- MUSEUMS -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/Museums/BNHS.svg"
                                                alt="BNHS" loading="lazy"><span class="logo-name">BNHS</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Museums/FHF.svg"
                                                alt="FHF" loading="lazy"><span class="logo-name">FHF</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/Museums/tata archives.svg" alt="Tata Archives"
                                                loading="lazy"><span class="logo-name">Tata Archives</span></div>

                                <!-- PHARMA -->
                                <div class="client-logo-item"><img class="logo-img" src="logos/pharma/ajanta.svg"
                                                alt="Ajanta Pharma" loading="lazy"><span class="logo-name">Ajanta
                                                Pharma</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/pharma/alkem.svg"
                                                alt="Alkem" loading="lazy"><span class="logo-name">Alkem</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/pharma/cipla.svg"
                                                alt="Cipla" loading="lazy"><span class="logo-name">Cipla</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/pharma/Gelnmark.svg"
                                                alt="Glenmark" loading="lazy"><span class="logo-name">Glenmark</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/pharma/lupin.svg"
                                                alt="Lupin" loading="lazy"><span class="logo-name">Lupin</span></div>
                        </div>
                        <button class="clients-nav right" onclick="scrollClients(300)"
                                aria-label="Scroll right">&#x276f;</button>
                </div>
        </div>
</section>