<section class="clients-section">
        <div class="clients-content">
                <p class="clients-label">Trusted by India's leading organisations</p>
                <div class="clients-scroll-wrapper">
                        <div class="clients-scroll" id="clientsScroll">
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/alkem.svg"
                                                alt="Alkem" loading="lazy"><span class="logo-name">Alkem</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/bisleri.svg"
                                                alt="Bisleri" loading="lazy"><span class="logo-name">Bisleri</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/cbre.svg"
                                                alt="CBRE" loading="lazy"><span class="logo-name">CBRE</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/cipla.svg"
                                                alt="Cipla" loading="lazy"><span class="logo-name">Cipla</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/Cocacola.svg"
                                                alt="Coca-Cola" loading="lazy"><span class="logo-name">Coca-Cola</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/colliers.svg"
                                                alt="Colliers" loading="lazy"><span class="logo-name">Colliers</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/cushman.svg"
                                                alt="Cushman" loading="lazy"><span class="logo-name">Cushman &
                                                Wakefield</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/dr_reddy.svg"
                                                alt="Dr. Reddy's" loading="lazy"><span class="logo-name">Dr.
                                                Reddy's</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/glenmark.svg"
                                                alt="Glenmark" loading="lazy"><span class="logo-name">Glenmark</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/HAL.svg" alt="HAL"
                                                loading="lazy"><span class="logo-name">HAL</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/Client/Hindustan_Unilever.svg" alt="Hindustan Unilever"
                                                loading="lazy"><span class="logo-name">Hindustan Unilever</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/honda.svg"
                                                alt="Honda" loading="lazy"><span class="logo-name">Honda</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/iit.svg" alt="IIT"
                                                loading="lazy"><span class="logo-name">IIT</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/indian_army.svg"
                                                alt="Indian Army" loading="lazy"><span class="logo-name">Indian
                                                Army</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/indian_oil.svg"
                                                alt="Indian Oil" loading="lazy"><span class="logo-name">Indian
                                                Oil</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/jindal.svg"
                                                alt="Jindal" loading="lazy"><span class="logo-name">Jindal</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/lic.svg" alt="LIC"
                                                loading="lazy"><span class="logo-name">LIC</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/loreal.svg"
                                                alt="L'Oréal" loading="lazy"><span class="logo-name">L'Oréal</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/lupin.svg"
                                                alt="Lupin" loading="lazy"><span class="logo-name">Lupin</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/Mahindra.svg"
                                                alt="Mahindra" loading="lazy"><span class="logo-name">Mahindra</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/primal.svg"
                                                alt="Piramal" loading="lazy"><span class="logo-name">Piramal</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/pwd.svg" alt="PWD"
                                                loading="lazy"><span class="logo-name">PWD</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/raymond.svg"
                                                alt="Raymond" loading="lazy"><span class="logo-name">Raymond</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/rbi.svg" alt="RBI"
                                                loading="lazy"><span class="logo-name">RBI</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/sbi.svg" alt="SBI"
                                                loading="lazy"><span class="logo-name">SBI</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/Client/standard_Charterd.svg" alt="Standard Chartered"
                                                loading="lazy"><span class="logo-name">Standard Chartered</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/sterling.svg"
                                                alt="Sterling" loading="lazy"><span class="logo-name">Sterling</span>
                                </div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/tcs.svg" alt="TCS"
                                                loading="lazy"><span class="logo-name">TCS</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/Client/university of mumbai.svg" alt="University of Mumbai"
                                                loading="lazy"><span class="logo-name">University of Mumbai</span></div>
                                <div class="client-logo-item"><img class="logo-img"
                                                src="logos/Client/western_railway.svg" alt="Western Railway"
                                                loading="lazy"><span class="logo-name">Western Railway</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/wipro.svg"
                                                alt="Wipro" loading="lazy"><span class="logo-name">Wipro</span></div>
                                <div class="client-logo-item"><img class="logo-img" src="logos/Client/zydus.svg"
                                                alt="Zydus" loading="lazy"><span class="logo-name">Zydus</span></div>
                        </div>

                </div>
        </div>
</section>