<section class="clients-section">
    <div class="clients-content">
        <p class="clients-label">Trusted by India's leading organisations</p>
        <div class="clients-scroll-wrapper">
            <button class="clients-nav left" onclick="scrollClients(-300)" aria-label="Scroll left">&#x276e;</button>
            <div class="clients-scroll" id="clientsScroll">
                <!-- CORPORATES -->
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/wipro.svg" alt="Wipro" loading="lazy">
                    <span class="logo-name">Wipro</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/tata.svg" alt="TCS" loading="lazy">
                    <span class="logo-name">TCS</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/tata projects.svg" alt="Tata Projects" loading="lazy">
                    <span class="logo-name">Tata Projects</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/honda.svg" alt="Honda" loading="lazy">
                    <span class="logo-name">Honda</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/Mahindra.svg" alt="Mahindra" loading="lazy">
                    <span class="logo-name">Mahindra</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/AD_Hindalco.svg" alt="Aditya Birla" loading="lazy">
                    <span class="logo-name">Aditya Birla Hindalco</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/Capgemini.svg" alt="Capgemini" loading="lazy">
                    <span class="logo-name">Capgemini</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/Hindustan_Unilever.svg" alt="HUL" loading="lazy">
                    <span class="logo-name">HUL</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/jindal.svg" alt="Jindal Steel" loading="lazy">
                    <span class="logo-name">Jindal Steel</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/Cocacola.svg" alt="Coca-Cola" loading="lazy">
                    <span class="logo-name">Coca-Cola</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/raymond.svg" alt="Raymond" loading="lazy">
                    <span class="logo-name">Raymond</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/bajaj_electrical.svg" alt="Bajaj Electricals"
                        loading="lazy">
                    <span class="logo-name">Bajaj Electricals</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/tata_capital.svg" alt="Tata Capital" loading="lazy">
                    <span class="logo-name">Tata Capital</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/bisleri.svg" alt="Bisleri" loading="lazy">
                    <span class="logo-name">Bisleri</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/loreal.svg" alt="L'Oréal" loading="lazy">
                    <span class="logo-name">L'Oréal</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/RP Sanjeev Goenka.svg" alt="RP Sanjeev Goenka Group"
                        loading="lazy">
                    <span class="logo-name">RP-Sanjiv Goenka Group</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/Jubliant_Life_Sciences.svg" alt="Jubilant Lifesciences"
                        loading="lazy">
                    <span class="logo-name">Jubilant Lifesciences</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/corporates/Tata_Business_Support_Services.svg"
                        alt="Tata Business Support Services" loading="lazy">
                    <span class="logo-name">Tata Business Support Services</span>
                </div>

                <!-- PHARMA -->
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/cipla.svg" alt="Cipla" loading="lazy">
                    <span class="logo-name">Cipla</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/ajanta.svg" alt="Ajanta Pharma" loading="lazy">
                    <span class="logo-name">Ajanta Pharma</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/primal.svg" alt="Piramal" loading="lazy">
                    <span class="logo-name">Piramal</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/lupin.svg" alt="Lupin" loading="lazy">
                    <span class="logo-name">Lupin</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/alkem.svg" alt="Alkem" loading="lazy">
                    <span class="logo-name">Alkem</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/dr_reddy.svg" alt="Dr. Reddy's" loading="lazy">
                    <span class="logo-name">Dr. Reddy's</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/glenmark.svg" alt="Glenmark" loading="lazy">
                    <span class="logo-name">Glenmark</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/zydus.svg" alt="Zydus" loading="lazy">
                    <span class="logo-name">Zydus</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/megafine.svg" alt="Megafine" loading="lazy">
                    <span class="logo-name">Megafine</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/mjbiopharm.svg" alt="MJ Biopharm" loading="lazy">
                    <span class="logo-name">MJ Biopharm</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/unichem.svg" alt="Unichem" loading="lazy">
                    <span class="logo-name">Unichem</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/jb.svg" alt="JB Chemicals" loading="lazy">
                    <span class="logo-name">JB Chemicals</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/symbiotec.svg" alt="Symbiotec" loading="lazy">
                    <span class="logo-name">Symbiotec</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/aarti.svg" alt="Aarti Drugs" loading="lazy">
                    <span class="logo-name">Aarti Drugs Ltd</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/medispray.svg" alt="Medispray" loading="lazy">
                    <span class="logo-name">Medispray</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/rubicon.svg" alt="Rubicon" loading="lazy">
                    <span class="logo-name">Rubicon</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/medisynth.svg" alt="Medisynth" loading="lazy">
                    <span class="logo-name">Medisynth</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/bsv.svg" alt="BSV" loading="lazy">
                    <span class="logo-name">Bharat Serum and Vaccines Ltd</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/aleor.svg" alt="Aleor" loading="lazy">
                    <span class="logo-name">Aleor</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/alembic.svg" alt="Alembic" loading="lazy">
                    <span class="logo-name">Alembic</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/pharma/us pharam.svg" alt="US Pharma" loading="lazy">
                    <span class="logo-name">US Pharma</span>
                </div>

                <!-- BANKING -->
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/sbi.svg" alt="SBI" loading="lazy">
                    <span class="logo-name">SBI</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/rbi.svg" alt="RBI" loading="lazy">
                    <span class="logo-name">RBI</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/standard_Charterd.svg" alt="Standard Chartered"
                        loading="lazy">
                    <span class="logo-name">Standard Chartered</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/unionbank.svg" alt="Union Bank" loading="lazy">
                    <span class="logo-name">Union Bank</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/lic.svg" alt="LIC" loading="lazy">
                    <span class="logo-name">LIC</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/indiaexim.svg" alt="India Exim Bank" loading="lazy">
                    <span class="logo-name">India Exim Bank</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/svc.svg" alt="SVC Co-operative bank" loading="lazy">
                    <span class="logo-name">SVC Co-operative bank</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/abhyudaya.svg" alt="Abhyudaya Bank" loading="lazy">
                    <span class="logo-name">Abhyudaya Bank</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/nkgsb.svg" alt="NKGSB Bank" loading="lazy">
                    <span class="logo-name">NKGSB Bank</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/sbigeneral.svg" alt="SBI General" loading="lazy">
                    <span class="logo-name">SBI General Insurance</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/apnabank.svg" alt="Apna Bank" loading="lazy">
                    <span class="logo-name">Apna Bank</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/banking/csb.svg" alt="CSB Bank" loading="lazy">
                    <span class="logo-name">CSB Bank</span>
                </div>

                <!-- Architects & PMC Consultants -->
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/aad.svg" alt="AAD" loading="lazy">
                    <span class="logo-name">AAD Consulting</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/ana.svg" alt="ANA" loading="lazy">
                    <span class="logo-name">ANA Architects</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/anj.svg" alt="Anj Architects" loading="lazy">
                    <span class="logo-name">Anj Architects</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/cbre.svg" alt="CBRE" loading="lazy">
                    <span class="logo-name">CBRE</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/colliers.svg" alt="Colliers" loading="lazy">
                    <span class="logo-name">Colliers</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/cushman.svg" alt="Cushman & Wakefield" loading="lazy">
                    <span class="logo-name">Cushman & Wakefield</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/elomatic.svg" alt="Elomatic" loading="lazy">
                    <span class="logo-name">Elomatic</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/ensemble.svg" alt="Ensemble" loading="lazy">
                    <span class="logo-name">Ensemble Consulting</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/kaishar.svg" alt="Kaishar" loading="lazy">
                    <span class="logo-name">Kaishar Interiors</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/sted.svg" alt="Sted" loading="lazy">
                    <span class="logo-name">STED</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/architects/sterling.svg" alt="Sterling & Wilson" loading="lazy">
                    <span class="logo-name">Sterling & Wilson</span>
                </div>

                <!-- GOVT & INSTITUTIONS -->
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/gov sec/cpwd.svg" alt="CPWD" loading="lazy">
                    <span class="logo-name">CPWD</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/gov sec/pwd.svg" alt="PWD" loading="lazy">
                    <span class="logo-name">PWD</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/gov sec/HAL.svg" alt="HAL" loading="lazy">
                    <span class="logo-name">HAL</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/gov sec/Indian_Air_Force-Logo.wine.svg" alt="Indian Air Force"
                        loading="lazy">
                    <span class="logo-name">Indian Air Force</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/gov sec/indian_army.svg" alt="Indian Army" loading="lazy">
                    <span class="logo-name">Indian Army</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/gov sec/indian_oil.svg" alt="Indian Oil" loading="lazy">
                    <span class="logo-name">Indian Oil</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/gov sec/western_railway.svg" alt="Western Railway" loading="lazy">
                    <span class="logo-name">Western Railway</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/aga.svg" alt="AGA" loading="lazy">
                    <span class="logo-name">AGA Khan Education Institute</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/Chetana.svg" alt="Chetana" loading="lazy">
                    <span class="logo-name">Chetana College</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/iit.svg" alt="IIT Bombay" loading="lazy">
                    <span class="logo-name">IIT Bombay</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/kes.svg" alt="KES" loading="lazy">
                    <span class="logo-name">KES College</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/ncbs.svg" alt="NCBS" loading="lazy">
                    <span class="logo-name">NCBS</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/samaiya.svg" alt="Somaiya" loading="lazy">
                    <span class="logo-name">Somaiya University</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/sndt.svg" alt="SNDT" loading="lazy">
                    <span class="logo-name">SNDT University</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/tps.svg" alt="TPS" loading="lazy">
                    <span class="logo-name">TPS School</span>
                </div>
                <div class="client-logo-item">
                    <img class="logo-img" src="logos/institutions/university of mumbai.svg" alt="University of Mumbai"
                        loading="lazy">
                    <span class="logo-name">University of Mumbai</span>
                </div>
            </div>
            <button class="clients-nav right" onclick="scrollClients(300)" aria-label="Scroll right">&#x276f;</button>
        </div>
    </div>
</section>